@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');

.clientum-landing {
  --font-display: "Space Grotesk", sans-serif;
  font-family: "Inter", sans-serif;
}
.clientum-landing .font-display {
  font-family: var(--font-display);
}
.clientum-landing .font-mono {
  font-family: "JetBrains Mono", monospace;
}
